<library path="module">
  <class name="rqt_dashboard" type="dashboard.show.DashboardPluginClass" base_class_type="rqt_gui_py::Plugin">
	<description>
	  Shipcon ship status display App for rqt
	</description>

	<qtgui>
	  <label>Main Dashboard</label>
	  <icon type="theme">applications-other</icon>
	  <statustip>Dashboard displayed ship status</statustip>
	</qtgui>

  </class>
</library>
