<launch>

  <group ns="esso_osaka">

	<node pkg="shipcon" name="NODE_Gps" type="gps_pub.py" />
	<node pkg="shipcon" name="NODE_Gyro" type="gyro" />
	<node pkg="shipcon" name="NODE_Thruster1" type="motor" />
	<node pkg="shipcon" name="NODE_Rudder1" type="rudder" />
	<node pkg="shipcon" name="NODE_RC" type="rc_controller" />
	<node pkg="shipcon" name="NODE_MAIN" type="main_control" />
	<node pkg="shipcon" name="NODE_Logger" type="logger.py" output="screen"/>
	
  </group>

</launch>
