<launch>
  <group ns="esso_osaka">

	<node pkg="shipcon" name="main_motor" type="motor">
		<param name="IpAddr" value="192.168.39.10" />
		<param name="Port" value="50000" />
		<param name="SubNameControlval" value="/Autonode/Subname/Motor" />
	</node>

	<node pkg="shipcon" name="bow_thruster" type="motor">
		<param name="IpAddr" value="192.168.39.12" />
		<param name="Port" value="50000" />
		<param name="SubNameControlval" value="/Autonode/Subname/BowThruster" />
	</node>

	<node pkg="shipcon" name="rudder" type="rudder">
		<param name="IpAddr" value="192.168.39.11" />
		<param name="Port" value="50000" />
		<param name="SubNameControlval" value="/Autonode/Subname/Rudder" />
	</node>

	<node pkg="shipcon" name="NODE_RC" type="rc_controller" />

	<node pkg="shipcon" name="NODE_Gps" type="gps_pub.py" />
	<node pkg="shipcon" name="NODE_Gyro" type="gyro" />
	<node pkg="shipcon" name="NODE_MAIN" type="main_control" />
	<node pkg="shipcon" name="NODE_Logger" type="logger.py" output="screen"/>
	
  </group>
</launch>
